TYPE_REGISTRY_ADDR=:8080
TYPE_REGISTRY_DSN=type_center:type_center@tcp(127.0.0.1:3306)/x_type_center?charset=utf8mb4&parseTime=true&loc=UTC
TYPE_REGISTRY_URL=http://127.0.0.1:8080
TYPE_REGISTRY_SKILL_PACKAGE_PATH=
TYPE_REGISTRY_PUBLIC_URL=http://127.0.0.1:8080
